<h1>
    <i class="fa fa-list" aria-hidden="true"></i> Journal
</h1>

<div class="row">
    <div class="row">
        <div class="col-md-10 form-group">
            <label for="limit">Records per Page</label>
            <input [(ngModel)]="limit" id="limit"
                   #limitInp = "ngModel" type="number"
                   class="form-control">
        </div>
        <div class="col-md-2">
            <button class="btn btn-success" (click)="getRecords()">
                <i class="fa fa-refresh" aria-hidden="true"></i> Refresh
            </button>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Username</th>
            <th>Action</th>
            <th>Details</th>
            <th>Time</th>
            <th>IP</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let record of records">
            <td>{{record.user_name}}</td>
            <td>{{record.action}}</td>
            <td>{{record.details}}</td>
            <td>{{record.time}}</td>
            <td>{{record.ip}}</td>
            <td><a (click)="deleteRecord(record)" class="shs-link label label-danger">
                <i class="fa fa-remove" aria-hidden="true"></i> Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
