<div class="row" style="margin-top:10%">
    <div class="col-md-4 col-md-offset-4">
        <form (ngSubmit)="login()" #logForm="ngForm">
            <div class="form-group">
                <label for="username">Username</label>
                <input [(ngModel)]="username"
                        type="text" class="form-control"
                       id="username" required name="username">
            </div>
            <div class="form-group">
                <label for="pwd">Password</label>
                <input [(ngModel)]="password" required
                        type="password" class="form-control"
                       id="pwd" name="pwd">
            </div>
            <button type="submit" class="btn btn-primary"
            [disabled]="!logForm.form.valid">Log In</button>
        </form>
    </div>
</div>