<p></p>
<div class="row">
    <div class="col-md-3">
        <input [(ngModel)]="fileName" name="fileName" id="fileName"
               #userNameInp="ngModel"
               type="text" class="form-control" placeholder="Часть имени файла">
    </div>
    <div class="col-md-3">
        <button class="btn btn-success" (click)="utilsSearch('italic')">
            Наклонный
        </button>
    </div>

    <div class="col-md-3">
        <button class="btn btn-success" (click)="utilsSearch('underline')">
            Подчеркнутый
        </button>
    </div>
</div>

<div class="container">
    <span *ngFor="let occ of occurrences" class="shs-u-w">
        <span [innerHtml]="occ.word"></span> ({{occ.count}}) <span class="fa fa-files-o shs-info"
                                                                   [attr.el-id]="occ.id"
                                                                   aria-hidden="true"></span>
    </span>
</div>